body,
html {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #133964, #f56f54);
  color: #ecf0f1;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Oxygen", sans-serif;
  font-family: "Quicksand", sans-serif;
}

#content {
  width: 100%;
}

.main-grid.container-fluid {
  padding: 0;
}

.navbar > .container {
  width: 100%;
}

.navbar-brand {
  height: 60px;
  margin-left: 40px !important;
}

.navbar-brand > img {
  height: 35px;
}

.navbar-right {
  margin-top: 15px;
  margin-right: 40px !important;
}

.navbar-form.navbar-right i {
  font-size: 1.5em;
  color: white;
}

.main-feature.row {
  position: relative;
  margin: 0 0 80px 0;
}

.row-content {
  margin: 0;
  min-height: 70vh;
}

.row-category {
  position: relative;
  z-index: 0;
}

.row-category h3 {
  margin: 15px 0 -5px 85px;
}

.row-category-title-name {
  font-weight: 900;
  color: rgb(230, 230, 230);
  font-family: "Catamaran", sans-serif;
}

.row-category-title,
.row-category-title-link .row-category-title div {
  display: inline-block;
}

.row-category-title-explorer {
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 20px;
  color: #3379b7dc !important;
}

.row-category-title-explorer:hover {
  font-size: 0.8em;
  color: rgb(230, 230, 230) !important;
}

.page-category-all,
.page-search {
  min-height: 100vh;
}

.navbar-transparent {
  background-color: transparent;
  border-color: transparent;
  transition: all 500ms;
}

.navbar-inverse {
  transition: all 500ms;
}

.form-control {
  color: rgb(230, 230, 230);
}

.carousel {
  margin-top: 100px;
}

.carousel-control {
  display: none;
  width: 20%;
  height: 100%;
}

.carousel-inner img {
  margin: auto;
}

h1,
p {
  text-align: center;
}

p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}

a:hover {
  color: #7f8c8d;
}

.container-expansion {
  position: relative;
  z-index: -1;
  top: -50px;
  width: 100%;
}

.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 3.5em;
  padding: 0 20px;
  cursor: pointer;
  color: #fff;
}

.col-expansion-title {
  padding-left: 100px;
}

.col-expansion-title h2 {
  font-weight: 700;
}

.price-table {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgb(121, 121, 121);
}

.highest-price {
  color: salmon;
}

.lowest-price {
  color: skyblue;
}

.lowest-plus-price {
  color: rgb(228, 152, 10);
}

.price-table h2,
.price-table h4 {
  text-align: center;
}

#priceChart {
  margin-bottom: 50px;
}

.row-price-table {
  margin-top: 3vh;
  width: 80%;
}

.expansion-background {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
}

.expansion-background:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: 0.8;
}

.button-playstation-store {
  font-size: 1.1em;
  color: rgb(233, 233, 233);
  background-color: rgb(75, 75, 75);
  border-color: rgb(75, 75, 75);
  width: 250px;
  margin-top: 10px;
}

.row-slide-game {
  height: 100%;
  padding-top: 45px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.row-slide-game.no-slide-arrow {
  justify-content: left;
  padding-left: 60px;
}

.tile {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.slick-slide img {
  height: 78%;
  border: 3px solid transparent;
}

.col-expansion-media .slick-slide img {
  height: 100%;
}

.col-expansion-media .slick-prev {
  left: -35px;
}

.col-expansion-media .slick-next {
  right: -35px;
}

.tile_transform {
  transform: scale(1.5) translate3d(0px, 0px, 0px);
}

.tile_transform.first {
  transform: scale(1.5) translate3d(30px, 0px, 0px);
}

.tile_transform.last {
  transform: scale(1.5) translate3d(-30px, 0px, 0px);
}

.tile__media.tile_next_transform {
  transform: translate3d(42px, 0px, 0px);
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.tile__media.tile_prev_transform {
  transform: translate3d(-42px, 0px, 0px);
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.tile__media.tile_next_transform.first {
  transform: translate3d(87px, 0px, 0px);
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.tile__media.tile_prev_transform.last {
  transform: translate3d(-87px, 0px, 0px);
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.tile__media {
  position: relative;
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.slick-track .slick-slide {
  height: 100%;
}

.col-expansion-media .slick-track .slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.container-row-slide {
  z-index: 2;
}

.slick-prev,
.slick-next {
  top: 45%;
  z-index: 10;
}

.container-row-slide .slick-prev {
  left: 32px;
}

.container-row-slide.initial-slide .slick-prev {
  display: none !important;
}

.container-row-slide .slick-next {
  right: 40px;
}

.container-row-slide .slick-prev:hover,
.container-row-slide .slick-next:hover {
  top: 40%;
}

.slick-prev:hover,
.slick-next:hover {
  transition: all 200ms;
  transform: scale(1.5);
  top: 42%;
}

.slick-prev:before {
  font-family: "FontAwesome";
  content: "\f053";
  color: rgb(230, 230, 230);
  font-size: 30px;
}

.slick-next:before {
  font-family: "FontAwesome";
  content: "\f054";
  color: rgb(230, 230, 230);
  font-size: 30px;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 1;
  top: 0;
  font-size: 10px;
  opacity: 0;
  border: 3px solid rgba(228, 228, 228, 0.8);
  background: linear-gradient(
    to top,
    #002f4bfb,
    #dc4325a8,
    rgba(0, 0, 0, 0.35)
  );
  transition: 0ms opacity;
  outline: none;
  height: 78%;
}

.tile__details:after,
.tile__details:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}

.tile__details:before {
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 12;
}

.tile__details.tile_transform {
  opacity: 1;
  transition: 250ms opacity;
  transition-delay: 300ms;
  z-index: 13;
}

.tile__details .tile__title {
  position: absolute;
  bottom: 40px;
  left: 5px;
  text-align: center;
  font-size: 1.3em;
}

.tile__details .tile__price {
  position: absolute;
  bottom: 5px;
  left: 30%;
  font-size: 1.8em;
}

.row {
  overflow: hidden;
  width: 100%;
}

.row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  padding: 20px 0;
  padding-bottom: 10px;
}

.tile__discount {
  position: absolute;
  left: 0;
  bottom: 10px;
  color: rgb(240, 240, 240);
  font-weight: bold;
  background-color: #006cff;
}

.tile__img,
.tile__discount {
  opacity: 0;
  transition: opacity 1300ms ease-in-out;
}

.tile__img.loaded,
.tile__discount.loaded {
  opacity: 1;
}

.tile__discount.tile__plus_discount {
  color: black;
  background-color: #ffe312;
}

.tile__discount span {
  padding: 10px;
}

img.plus_exclusive_price_icon {
  margin: 1px -8px 0 2px;
  width: 16px;
  height: 16px;
  float: left;
}

.tile__focus.focus-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 5px #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.tile__focus.focus-box::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -13px;
  border-style: solid;
  border-width: 8px 13px 0 13px;
  border-color: rgba(0, 0, 0, 0.15) transparent transparent transparent;
  margin-top: 5px;
  transition-delay: 400ms;
}

.tile__focus.focus-box::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -13px;
  border-style: solid;
  border-width: 8px 13px 0 13px;
  margin-top: 4px;
  border-color: #fff transparent transparent transparent;
  transition-delay: 400ms;
}

.tile__focus.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

.container-fluid,
.row-content,
.container-expansion {
  padding: 0;
}

.container-expansion.container {
  width: 100%;
}

.row-expansion-title-info {
  padding-left: 50px;
}

.wrapper-title-row h3 {
  margin-bottom: -15px;
  font-weight: bold;
}

.form-control {
  background-color: transparent;
}

.col-expansion-panel {
  height: 45vh;
  padding-left: 50px;
}

.col-title-info {
  height: 30vh;
  padding-left: 50px;
  padding-top: 30px;
}

.col-title-info .title-info-thumb {
  width: 200px;
}

.price-history-chart {
  margin-top: 30px;
}

.col-expansion-description {
  color: rgb(228, 228, 228);
  padding: 20px 0 0 30px;
  overflow: auto;
}

.col-expansion-description::-webkit-scrollbar {
  width: 10px;
}

.col-expansion-description::-webkit-scrollbar-track {
  box-shadow: inset 0 0 16px rgba(80, 80, 80, 0.25);
  -webkit-box-shadow: inset 0 0 16px rgba(80, 80, 80, 0.25);
}

.col-expansion-description::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 15px rgba(170, 170, 170, 0.2);
  -webkit-box-shadow: inset 0 0 15px rgba(170, 170, 170, 0.2);
}

.expansion-menu ul {
  width: 100%;
  z-index: 100;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  pointer-events: none;
}

.expansion-menu li {
  padding: 1em 1.5em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  color: #ccc;
  min-width: 5%;
  pointer-events: auto;
}

.expansion-menu a {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  pointer-events: auto;
  z-index: 10;
}

.expansion-menu li.current {
  cursor: default;
  color: #fff;
}

.expansion-menu li.current span {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  background-color: #095de5;
}

.expansion-menu li span {
  height: 0.33em;
  display: block;
  width: 100%;
  margin-top: 0.66em;
  -webkit-transform: translateY(0.4em);
  -moz-transform: translateY(0.4em);
  -ms-transform: translateY(0.4em);
  -o-transform: translateY(0.4em);
  transform: translateY(0.4em);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear,
    -moz-transform 0.2s linear, -o-transform 0.2s linear;
}

/*******************************
transition-group setting 
*******************************/

.searchbar-enter {
  opacity: 0;
  transform: scale(1) translateX(30%);
}

.searchbar-enter-active {
  opacity: 1;
  transform: scale(1) translateX(0%);
  transition: all 500ms ease;
}

.searchbar-exit {
  opacity: 1;
}

.searchbar-exit-active {
  transition: all 300ms ease;
  transform: scale(1.2);
  opacity: 0.1;
}

.rowTitle-enter {
  opacity: 0.01;
  transform: scale(1) translateX(-15%);
}

.rowTitle-enter-active {
  opacity: 1;
  transform: scale(1) translateX(0%);
  transition: all 400ms ease-out;
}

.rowTitle-exit {
  transform: scale(1) translateX(0%);
  opacity: 1;
}

.rowTitle-exit-active {
  transform: scale(1) translateX(-15%);
  opacity: 0.01;
  transition: all 500ms ease-out;
}

.rowTitleArrow-enter {
  opacity: 1;
  transform: scale(1) translateX(-400%);
}

.rowTitleArrow-enter-active {
  opacity: 1;
  transform: scale(1) translateX(0%);
  transition: all 150ms ease-in-out;
}

.rowTitleArrow-exit {
  opacity: 0.01;
  transform: scale(1) translateX(0%);
}

.rowTitleArrow-exit-active {
  opacity: 1;
  transform: scale(1) translateX(-85%);
  transition: all 400ms ease-out;
}

.expansion-enter {
  opacity: 0;
  /* transform: scale(0.9) translateY(-15%); */
}

.expansion-enter-active {
  opacity: 1;
  /* transform: scale(1) translateY(0%); */
  transition: all 500ms ease-out;
}

.expansion-exit {
  opacity: 1;
  transform: scale(1) translateX(0%);
}

.expansion-exit-active {
  opacity: 0.01;
  transform: scale(1) translateX(20%);
  transition: all 300ms ease-in-out;
}

.expansionInfo {
  display: inline-block;
  margin-left: 0.5rem;
  transform: scale(1.25);
}

.titleinfo-enter {
  opacity: 0.5;
  transform: scale(1) translateY(5%);
}

.titleinfo-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 700ms;
}

.titleinfo-exit {
  position: absolute;
  opacity: 0.01;
}

.titleinfo-exit-active {
  position: absolute;
  opacity: 0.01;
}

.titleinfopanel-enter {
  opacity: 1;
  transform: scale(1);
}

.titleinfopanel-enter-active {
  opacity: 1;
  transform: scale(0.8) translateX(-10%) translateY(-13%);
  transition: all 500ms;
}

.titleinfopanel-enter-done {
  opacity: 1;
  transform: scale(0.8) translateX(-10%) translateY(-13%);
}

.titleinfopanel-exit {
  opacity: 0.01;
}

.titleinfopanel-exit-active {
  position: absolute;
  opacity: 0.01;
}

.titleinfodetail-enter {
  opacity: 0;
  transform: scale(1) translateY(10%);
}

.titleinfodetail-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 700ms ease;
}

.titleinfodetail-exit {
  opacity: 0.01;
}

.titleinfodetail-exit-active {
  position: absolute;
  opacity: 0.01;
}

.titlepanelmenu-enter {
  opacity: 0.1;
  transform: scale(1) translateY(20%);
}

.titlepanelmenu-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 900ms;
}

.titlepanelmenu-exit {
  opacity: 0.01;
}

.titlepanelmenu-exit-active {
  position: absolute;
  opacity: 0.01;
}

.titlenamepanel-enter {
  opacity: 0.5;
  transform: scale(0.8, 0.8) translateX(-12.5%) translateY(-10%);
}

.titlenamepanel-enter-active {
  opacity: 1;
  transform: scale(1) translateX(0%) translateY(0%);
  transition: all 500ms;
}

.titlenamepanel-exit {
  opacity: 1;
}

.titlenamepanel-exit-active {
  position: absolute;
  opacity: 0.01;
}

.titlename-enter-active {
  opacity: 0.5;
  transform: scale(0.8, 0.8) translateX(-12.5%) translateY(-10%);
  transition: all 500ms;
}

.titlename-enter-done {
  opacity: 0.5;
  transform: scale(0.8, 0.8) translateX(-12.5%) translateY(-10%);
}

.titlename-exit {
  opacity: 1;
}

.titlename-exit-active {
  position: absolute;
  opacity: 0.01;
}

.fade-enter {
  opacity: 0.1;
}

.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.fade-exit {
  position: absolute;
  opacity: 0.01;
}

.fade-exit-active {
  position: absolute;
  opacity: 0.01;
}

@media (max-width: 991px) {
  .col-title-info {
    height: auto;
    padding-left: 20px;
    padding-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .navbar-transparent {
    background-color: #222;
  }
  .navbar-brand {
    height: 100px;
    margin-left: 0 !important;
  }
  .navbar-brand > img {
    height: 75px;
  }
  .navbar-right {
    margin-right: 0;
    margin-top: 20px;
  }
  .navbar-form.navbar-right i {
    font-size: 4em;
  }
  .form-control {
    height: 64px;
    font-size: 30px;
  }
  .row-category h3 {
    margin-top: 80px;
    margin-left: 30px;
  }
  .main-feature.row img {
    width: 100%;
  }
  .row-slide-game.no-slide-arrow {
    padding-left: 0;
    justify-content: center;
  }
  .container-expansion {
    font-size: 2.5em;
  }
  .button-playstation-store {
    font-size: 25px;
    width: 100%;
    color: rgb(221, 221, 221) !important;
  }
  .container-fluid,
  .row-content,
  .container-expansion {
    padding: 0;
  }
  .row-category-title {
    font-size: 3em;
  }
  .container-row-slide .slick-prev,
  .container-row-slide .slick-next {
    transition: none;
    transform: none;
    top: -50px;
  }
  .container-row-slide .slick-prev:before,
  .container-row-slide .slick-next:before {
    font-size: 80px;
  }
  .container-row-slide .slick-prev {
    right: 200px;
    left: auto;
  }
  .container-row-slide .slick-next {
    right: 80px;
  }
  .container-row-slide .slick-prev:hover,
  .container-row-slide .slick-next:hover {
    transition: none;
    transform: none;
  }
  .tile__discount span {
    font-size: 2em;
  }
  .col-expansion-title {
    padding-left: 50px;
    padding-top: 30px;
  }
  .row-expansion-title-info {
    padding-left: 0;
  }
  .col-title-info .title-info-thumb {
    width: 370px;
    padding-left: 30px;
  }
  .col-expansion-title h2,
  .col-title-info h2,
  .price-table h2 {
    font-size: 1.2em;
  }
  .col-title-info h4,
  .price-table h4 {
    font-size: 0.8em;
  }
  .close-button {
    top: -40px;
  }
  .slick-slide img {
    height: 88%;
  }
  .col-expansion-panel.col-expansion-media {
    width: 95%;
  }

  .col-expansion-panel.col-expansion-description {
    font-size: 0.8em;
  }

  .footer p {
    font-size: 2em;
    font-weight: 700;
  }
}

@media (min-width: 992px) {
  .col-title-info {
    height: 48vh;
  }
}

@media (min-width: 1500px) {
  .expansion-menu ul {
    font-size: 1.3em;
  }
}
