alembic==1.0.0
appdirs==1.4.3
click==6.7
Flask==0.12.1
Flask-Cors==3.0.6 
Flask-Migrate==2.2.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
packaging==16.8
psycopg2==2.7.5
pyparsing==2.2.0
python-editor==1.0.3
six==1.10.0
SQLAlchemy==1.2.10
Werkzeug==0.12.1
tqdm==4.23.4
Twisted==18.4.0
urllib3==1.23
virtualenv==16.0.0
w3lib==1.19.0
webencodings==0.5.1
websocket-client==0.48.0
wrapt==1.10.11
